@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  background-color: #6365f128;
  color: #0f172a;
  font-family: "Inter", sans-serif;
}

/* Buttons */
.btn-primary {
  background-color: #6366f1;
  color: white;
}

.btn-primary:hover {
  background-color: #4f46e5;
}

.btn-secondary {
  background-color: #0ea5e9;
  color: white;
}

.btn-accent {
  background-color: #f59e0b;
  color: white;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
}
.nav-link {
  color: #0f172a;
}
.nav-link:hover {
  color: #6366f1;
}
